$primary: rgb(0, 81, 128);
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.octoplan-container {
  @extend .border;
  @extend .border-2;
  @extend .border-primary;
  @extend .rounded-2;
  @extend .container;
  @extend .shadow-sm;
  @extend .mt-3;
}

.to-do-list-container {
  height: 84vh;
}

.octoplan-small-container {
  height: 41.2vh;
}
